@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    
    background-color: rgba(204, 202, 202, 0.192);
    font-family: "Hanken Grotesk", sans-serif;

    font-size: 18px;



}
.principal{
    width: 1000px;
    height: 800px;
    /* border: solid  violet; */
    margin: 0 auto;
    align-content: center;
 
}

.contenedor{
    width: 705px;
    height: 455px;
    margin: 0 auto;
    align-content: center;
    /* border: solid yellow; */

    /* margin-top:100px;
    margin-left: 100px;
    margin-right: 50px; */

    display: grid;
    grid-template-columns: repeat(2,350px);
    grid-template-rows: 450px;

}
/* Morado */
.morado{
       
    align-content: center;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.inicio, .medio, .final{
    margin-top: 20px;
    text-align: center;
    color: white;
}
.inicio{
    font-size: 12px;
}
.final{
    margin-bottom:15px ;
    width: 230px;
}
.final h2{
    margin-bottom: 20px;
}
.final p{
    margin: 0px;
    text-align:inherit;
}
.medio{
    width: 100px;
    height: 100px;
    align-content: center;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border: solid hsl(234, 85%, 45%) 1px
}
.medio span{
    font-size: 10px;
    color: hsl(251, 11%, 63%);
    font-weight: 500;
}

/* Blanco */
.blanco{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 250px ;
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 0 10px 10px 0;
    row-gap: 10px;

}
.titulo{
    height: 30px;
    margin: 20px 0 0 20px;
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}
.contenido{
    margin:  0px 20px 0px 20px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
}
.letras{
    width: 350px;
    height: 150px;
    margin-left: 10px;
    
    
}
.numero{
    
} 
.letras p{
    color: hsl(253, 6%, 45%);
    font-weight: 500;
    
}
.letras p span{
    color: hsla(256, 72%, 46%, 1);
    font-weight: 700;
}
.letras p{
    align-content: center;
}


.rojo .uno {
    
    display: flex;
    color:hsl(0, 100%, 67%);
    font-weight: 500;
    justify-content:space-between;
    
}
svg{
    margin-right: 10px;
}
.amarillo .dos{
    display: flex;
    color:hsl(39, 100%, 56%) ;
    font-weight: 500;
    justify-content: space-between;
}
.verde .tres{
    display: flex;
    color:hsl(166, 100%, 37%);
    font-weight: 500;
    justify-content: space-between;
}
.azul .cuatro{
    display: flex;
    color:hsl(234, 85%, 45%);
    font-weight: 500;
    justify-content: space-between;
}
/* colores */

.rojo{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: solid rgb(244, 205, 205);
    border-radius: 10px;
    background-color: rgb(244, 205, 205);
    padding: 10px ;
}
.amarillo{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: solid hsl(39, 52%, 80%);
    border-radius: 10px;
    background-color: hsl(39, 52%, 80%);
    padding: 10px ;
}
.verde{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: solid hsl(166, 52%, 80%);
    border-radius: 10px;
    background-color: hsl(166, 52%, 80%);
    padding: 10px ;
}
.azul{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: solid hsl(234, 52%, 80%);
    border-radius: 10px;
    background-color: hsl(234, 52%, 80%);
    padding: 10px ;
}


.boton{
    display: flex;
    margin-left: 20px;
}
.boton button{
    width: 80%;
    height: 45px;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color:hsl(224, 30%, 27%);
    color:hsl(0, 0%, 100%) ;
    border-radius: 15px;
    margin-left: 10px;

}

@media only screen and (max-width: 375px){
    .contenedor{
        /* margin-top:100px;
        margin-left: 100px;
        margin-right: 50px;
    
        display: grid; */
        grid-template-columns: repeat(1,250px);
        grid-template-rows: 300px;
        margin-left: 50px ;
        padding: 0; 
        
    }
    .contenido{
        margin: 0;
    }
    .boton button{
    margin-bottom: 10px;
    padding-bottom: 30px;  
    }

    .principal{
        margin: 0;
        padding: 0;
        width: 375px;
    }
    body{
        margin: 0;
        padding: 0; 
    }
    .rojo, .amarillo, .azul, .verde{
        margin-left:0;
        padding-left: 0;
        width: 230px;
    }
    .boton{
        margin: 0;
    }
    .boton button{
        width: 230px;

    }
}